.basket__container 
    .Cart-Container
        .Header_cart 
            h3.Heading Ваша корзина
            btn
                h5.Action 
                        btn.header__btn Закрыть
        .card__main__Container 
        hr
        .checkout
            .total
                .div
                    .Subtotal Всего 
                    .itemm 0 товаров
                    .total-amount 0₽
                .inp__forms
                    input(type="tel" placeholder="Телефон" required)
                    input(type="text" placeholder="Адрес" required)
                    input(type="email" placeholder="Электронная почта" required)
                    button(type="submit") Оформить заказ
                    button.clean Очистить корзину