footer 
    .footer__container
        .footer__about
            a(href="/").footer__logo
                img(src="/images/IconText.svg").logo
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque explicabo nemo odit consequuntur consectetur quis quas rerum laborum officia.
        .footer__links
            ul.links__main
                li.links__header Основные ссылки
                li Главная
                li Каталог
                li О нас
            ul.links__catalogue
                li.links__header Категории
                li Ролевые игры
                li ККИ
                li Warhammer
                li Пазлы и головоломки
                li Книги и комиксы
                li Сборные модели
            ul.links__contact
                li.links__header Соц. сети
                li VK.com
                li Facebook
                li Instagram
