.footer
  <table id="footer">
    tr
      th ПОМОЩЬ
      th О КОМПАНИИ
      th АКЦИИ
      th ПРИЛОЖЕНИЯ
      th НАШИ СОЦ СЕТИ
    tr
      td
        a(href="#") КОНТАКТЫ
      td 
        a(href="#") О НАС 
      td
        a(href="#") СКИДКИ
      td
        a(href="#") APPLE
      td
        a(href="#") VK
    tr
      td
        a(href="#") КАК ОФОРМИТЬ ЗАКАЗ
      td
        a(href="#") НАШИ ПАРТНЁРЫ 
      td
        a(href="#") КАТЕГОРИИ
      td
        a(href="#") ANDROID
      td
        a(href="#") INSTAGRAM
    tr
      td
        a(href="#") ДОСТАВКА
      td
        a(href="#") КОНТАКТЫ
      td
        a(href="#")
      td
        a(href="#")
      td
        a(href="#") INSTARGRAM
    tr
      td
        a(href="#") ВОЗВРАТ
      td
        a(href="#")
      td 
        a(href='#')
      td
        a(href='#') 
      td
        a(href='#') TELEGRAM
    tr
      td
        a(href='#') ГДЕ МОЙ ЗАКАЗ
      td
          a(href='#')
      td
        a(href='#') 
      td
        a(href='#')
      td
        a(href="#") YOUTUBE
    tr
      td
        a(href='#')
      td
        a(href='#') 
      td
        a(href='#') 
      td
        a(href='#') 
      td 
          img(src="/images/IconText.svg" alt="" height=100 width=100)