footer 
    .footer__container
        .footer__about
            a(href="/").footer__logo
                img(src="/images/IconText.svg").logo
            p GameHoard - интернет-магазин настольных игр.
            p Проект был создан исключительно в целях практики полученных знаний.
        .footer__links
            ul.links__main
                li.links__header Основные ссылки
                li
                    a(href="/")  Главная
                li
                    a(href="/catalogue") Каталог
            ul.links__catalogue
                li.links__header
                    a(href="/catalogue") Категории
                li
                    a(href="/catalogue/rpgames") Ролевые игры
                li
                    a(href="/catalogue/ccg") ККИ
                li
                    a(href="/catalogue/warhammer") Warhammer
                li
                    a(href="/catalogue/puzzles") Пазлы и головоломки
                li
                    a(href="/catalogue/models") Сборные модели
            ul.links__contact
                li.links__header Соц. сети
                li VK.com
                li Facebook
                li Instagram
