extends ../admin
block links
    a(href='./admin/product') Продукты
    br
    a(href='./admin/akzii') Акции
    br
    a(href='./admin/category') Категории
    br
    a(href='./admin/izdatel') Издатели
    br
    a(href='./admin/podcategory') Подкатегории
    br
    a(href='./admin/rassylka') Рассылка
    br
    a(href='./admin/sklad') Склад
    br
    a(href='./admin/slider') Слайдер
    br
    a(href='./admin/sposob_oplaty') Способы оплаты