link(rel='stylesheet' href='../admin.css')
if role == 'admin'
    div.auth
        h1 Админка
        block links
        block addForm
        block updateForm
        block deleteForm
        block scripts
else
    div.auth
        form(action="/admin" method="GET" class="login")
            h1 Авторизация
            label email:&#32
            input(type="email" name="email" class="login__email")
            label password:&#32
            input(type="password" name="password" class="login__password")
            input(type="submit" value="Отправить")