doctype html
html(lang="zxx")
    head 
        title #{title} | Купить в интернет-магазине Game Hoard 
        link(href="/images/favicon.ico" rel='icon')
        block head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
    body
        //- ВАЖНЫЙ СКРИПТ
        script(src="#") 
        //- Не удаляем пока не сделаем загрузку. (Пустой скрипт с ссылкой убирает анимации)
        include partials/header.pug
        block body
        include partials/footer.pug
        block scripts
        script(src="/scripts/script.js")
        script(src="/scripts/popup.js")