@import 'D:\#Everything!!!\#Code\#Projects\#RealCoding\WorkWithServers\NodeJS\Express\#Projects\GameHoard\node_modules\stylus\lib\functions\index.styl';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  gap: 30px;
}
.wrapper {
  width: 50%;
}
.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 0;
  width: 100%;
  background: #fff;
  font-weight: bolder;
  border-bottom: 1px #212121 solid;
  border-top: 1px #212121 solid;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all;
  z-index: 2;
}
.popup .popup__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.popup .popup__content .popup__container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
.popup .popup__content .popup__container a {
  text-decoration: none;
  color: #212121;
}
.popup .popup__content .popup__container a:hover {
  color: #ea581d;
}
.popup .popup__content .popup__tabs {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-right: 1px solid #212121;
  border-left: 1px solid #212121;
}
.popup .popup__content .popup__tabs .popup__tab {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.1s all;
  cursor: pointer;
  text-decoration: none;
  color: #212121;
}
.popup .popup__content .popup__tabs .popup__tab:hover {
  background: #ea581d;
  color: #fff;
}
.logo {
  width: 135px;
}
.icon {
  color: #212121;
  width: 28px;
}
.icon:hover {
  color: #ea581d;
}
.header {
  width: 100%;
  height: 50px;
  color: #212121;
  font-weight: bolder;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 4;
}
.header .header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
.header .header__content .logo {
  width: 95px;
}
.header .header__content .header__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header .header__content .header__tabs .header__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.1s all;
  border-bottom: 2px rgba(0,0,0,0) solid;
}
.header .header__content .header__tabs .header__tab:hover {
  border-bottom: 2px #ea581d solid;
  color: #ea581d;
}
.header .header__content .header__tabs .active {
  border-bottom: 2px #ea581d solid;
  color: #ea581d;
}
.header .header__content .header__icons {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .header__content .header__search {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .header__content .header__search input {
  width: 100%;
  outline: none;
  border-radius: 0px;
  border: 1px solid #c1c1c1;
  height: 100%;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #ea581d;
  font-size: 15px;
  height: 356px;
  color: #cbcfd4;
  background: #212121;
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 70%;
  width: 50%;
  bottom: 0;
  font-size: 15px;
}
footer .footer__container .footer__about {
  width: 30%;
}
footer .footer__container .footer__about a {
  color: #ff6a00;
  padding: 2px;
  text-decoration: none;
}
footer .footer__container .footer__about a:hover {
  text-decoration: underline;
}
footer .footer__container .footer__links {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
footer .footer__container .footer__links ul {
  margin: 0;
  list-style: none;
  font-size: 18px;
}
footer .footer__container .footer__links ul .links__header {
  font-size: 13px;
  font-weight: bold;
}
footer .footer__container .footer__links th {
  padding-bottom: 12px;
  text-align: left;
  width: auto;
  color: #ff6a00;
}
footer .footer__container .footer__links a {
  color: #ff6a00;
  padding: 2px;
  text-decoration: none;
}
footer .footer__container .footer__links a:hover {
  text-decoration: underline;
}
.news {
  width: 100%;
  height: 160px;
  background: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.news .news__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 100%;
  height: 100%;
}
.product h1 {
  text-align: center;
  margin: 0;
}
.product .product__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.product .product__container .card {
  width: 243px;
  height: 387px;
  background: #fff;
  box-shadow: 0 0 18px 2px rgba(0,0,0,0.145);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}
.product .product__container .card .card__img {
  width: 65%;
}
.product .product__container .card .card__img .card__img__src {
  width: 100%;
}
.product .product__container .card .card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 5px;
}
.product .product__container .card .card__button {
  width: 60%;
  height: 44px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all;
}
.product .product__container .card .card__button:hover .button__content {
  width: 0%;
}
.product .product__container .card .card__button:hover .button__icon {
  width: 100%;
}
.product .product__container .card .card__button .button__content {
  height: 100%;
  width: 70%;
  background: #ea581d;
  transition: 1s all ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.product .product__container .card .card__button .button__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background: #212121;
  transition: 0.5s all;
}
.product .product__container .card .card__button .button__icon svg {
  width: 22px;
  color: #fff;
}
