@import 'D:\#Everything!!!\#Code\#Projects\#RealCoding\WorkWithServers\NodeJS\Express\#Projects\project\node_modules\stylus\lib\functions\index.styl';
body {
  background-color: #fff;
}
header {
  color: #ea581d;
  border-color: #ea581d;
}
