@import 'D:\#Everything!!!\#Code\#Projects\#RealCoding\WorkWithServers\NodeJS\Express\#Projects\GameHoard\node_modules\stylus\lib\functions\index.styl';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  gap: 30px;
}
.wrapper {
  width: 60%;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #fff;
  font-weight: bolder;
  transition: 0.2s all;
  z-index: 2;
}
.popup .popup__content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.popup .popup__content .popup__container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #212121;
  border-left: 1px solid #212121;
  border-bottom: 1px solid #212121;
  gap: 25px;
}
.popup .popup__content .popup__container a {
  text-decoration: none;
  color: #212121;
}
.popup .popup__content .popup__container a:hover {
  color: #ea581d;
}
.popup .popup__content .popup__tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  border-right: 1px solid #212121;
  border-left: 1px solid #212121;
  border-bottom: 1px solid #212121;
}
.popup .popup__content .popup__tabs .popup__tab {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.1s all;
  cursor: pointer;
  text-decoration: none;
  color: #212121;
}
.popup .popup__content .popup__tabs .popup__tab:hover {
  background: #ea581d;
  color: #fff;
}
.logo {
  width: 135px;
}
.icon {
  color: #212121;
  width: 28px;
}
.icon:hover {
  color: #ea581d;
}
.header {
  width: 100%;
  height: 50px;
  color: #212121;
  font-weight: bolder;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 4;
}
.header .header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}
.header .header__content .logo {
  width: 95px;
}
.header .header__content .header__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header .header__content .header__tabs .header__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.1s all;
  border-bottom: 2px rgba(0,0,0,0) solid;
}
.header .header__content .header__tabs .header__tab:hover {
  border-bottom: 2px #ea581d solid;
  color: #ea581d;
}
.header .header__content .header__tabs .active {
  border-bottom: 2px #ea581d solid;
  color: #ea581d;
}
.header .header__content .header__icons {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .header__content .header__search {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .header__content .header__search input {
  width: 100%;
  outline: none;
  border-radius: 0px;
  border: 1px solid #c1c1c1;
  height: 100%;
  padding: 0 0 0 10px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #ea581d;
  font-size: 15px;
  height: 356px;
  color: #cbcfd4;
  background: #212121;
}
footer .footer__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 70%;
  width: 60%;
  bottom: 0;
  font-size: 15px;
}
footer .footer__container .footer__about {
  width: 30%;
}
footer .footer__container .footer__about a {
  color: #ff6a00;
  padding: 2px;
  text-decoration: none;
}
footer .footer__container .footer__about a:hover {
  text-decoration: underline;
}
footer .footer__container .footer__links {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
footer .footer__container .footer__links ul {
  margin: 0;
  list-style: none;
  font-size: 18px;
}
footer .footer__container .footer__links ul .links__header {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
footer .footer__container .footer__links li {
  color: #fff;
  padding: 2px;
  text-decoration: none;
}
footer .footer__container .footer__links li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.news {
  width: 100%;
  height: 160px;
  background: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.news .news__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.news .news__container h1 {
  font-weight: bold;
}
.email__connect {
  width: 100%;
  height: 110px;
  background: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.email__connect .email__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 50%;
  height: 100%;
}
.email__connect .email__container h1 {
  width: 50%;
}
.email__connect .email__container .inp__container {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.email__connect .email__container .inp__container input {
  height: 30px;
  width: 50%;
  border-radius: none;
  border: none;
  outline: none;
  padding: 0;
}
.email__connect .email__container .inp__container input[type="submit"] {
  background: #ea581d;
  color: #fff;
  cursor: pointer;
}
.email__connect .email__container .inp__container input[type="email"] {
  padding-left: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 100%;
  height: 100%;
}
.product h1 {
  text-align: center;
  margin: 0;
}
.product .product__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.card {
  width: 203px;
  height: 387px;
  background: #fff;
  box-shadow: 0 0 18px 2px rgba(0,0,0,0.145);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.card .card__img {
  width: 65%;
}
.card .card__img .card__img__src {
  width: 100%;
}
.card .card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.card .card__info .age__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  gap: 4px;
}
.card .card__info .people__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  gap: 4px;
}
.card .card__info .people__block img {
  height: 40%;
}
.card .card__info .time__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  gap: 4px;
}
.card .card__info .time__block img {
  height: 30%;
}
.card .card__button {
  width: 60%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all;
}
.card .card__button .button__content {
  height: 100%;
  width: 70%;
  background: #ea581d;
  transition: 0.5s all;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.card .card__button .button__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background: #212121;
  transition: 0.5s all;
  cursor: pointer;
}
.card .card__button .button__icon svg {
  width: 22px;
  color: #fff;
}
.product__page {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.product__page .product__page__content {
  margin-top: 60px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
.product__page .product__page__content h1 {
  text-align: center;
  margin: 0;
}
.product__page .product__page__content p {
  font-size: 18px;
}
.product__page .product__page__content .product__page__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.product__page .product__page__image {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product__page .product__page__image img {
  width: 100%;
}
.product__page .product__page__button {
  font-weight: bold;
  width: 50%;
  height: 50px;
  background: #212121;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
}
.product__page .product__page__button:hover {
  background: #ea581d;
  color: #fff;
}
.showmore__btn {
  margin-top: 20px;
  height: 40px;
  width: 200px;
  background: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
.catalogue {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.catalogue .catalogue__sideblocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 20%;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame {
  color: #212121;
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  box-shadow: 0 0 18px 2px rgba(0,0,0,0.145);
}
.catalogue .catalogue__sideblocks .sideblocks__daygame h2 {
  margin: 0;
  font-weight: bold;
  color: #ea581d;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame p {
  margin: 0;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .daygame__title {
  color: #ea581d;
  font-weight: bold;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .daygame__img {
  width: 80%;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .daygame__btn {
  height: 50px;
  width: 100%;
  color: #fff;
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .card__info .age__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  gap: 4px;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .card__info .people__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  gap: 4px;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .card__info .people__block img {
  height: 40%;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .card__info .time__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  gap: 4px;
}
.catalogue .catalogue__sideblocks .sideblocks__daygame .card__info .time__block img {
  height: 30%;
}
.catalogue .catalogue__sideblocks .sideblocks__filters {
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  background: #fff;
  box-shadow: 0 0 18px 2px rgba(0,0,0,0.145);
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__price .price__text {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__price .price__range {
  width: 100%;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__price .price__range input {
  width: 100%;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__checkbox {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__checkbox .checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__submit {
  width: 100%;
  height: 35px;
}
.catalogue .catalogue__sideblocks .sideblocks__filters .filters__submit input {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: none;
  background: #ea581d;
  color: #fff;
}
.catalogue .catalogue__container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.catalogue .catalogue__container .pagination {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.catalogue .catalogue__container .pagination .pagination__tab {
  height: 30px;
  width: 30px;
  border: 1px solid #ea581d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #212121;
}
.catalogue .catalogue__container .pagination .pagination__tab:hover {
  color: #ea581d;
}
.catalogue .catalogue__container .pagination .active__tab {
  background: #ea581d;
  color: #fff;
}
.catalogue .catalogue__container .pagination .active__tab:hover {
  color: #fff;
}
.catalogue .catalogue__container .catalogue__products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
