@import 'D:\#Everything!!!\#Code\#Projects\#RealCoding\WorkWithServers\NodeJS\Express\#Projects\project\node_modules\stylus\lib\functions\index.styl';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  width: 50%;
}
.header {
  width: 100vw;
  height: 50px;
  color: #ea581d;
  font-weight: bolder;
  border-bottom: 1px #ea581d solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.header .header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
.header .header__content .logo {
  width: 95px;
}
.header .header__content .catalogue__popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  background: #fff;
  border: 1px #ea581d solid;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s all easy-in;
}
.header .header__content .header__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}
.header .header__content .header__tabs .header__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.1s all;
}
.header .header__content .header__tabs .header__tab:hover {
  background: rgba(0,0,0,0.082);
}
.header .header__content .header__tabs .icons {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 30px;
}
.header .header__content .header__tabs .icons .icon {
  width: 28px;
}
