@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'

// Цвета
main = #EA581D // Оранжевый
main2 = #212121 // Тёмный
second = #FF6A00
bg = white

// Миксины
dflex(f, a, j)
    display flex
    flex-direction f
    align-items a
    justify-content j

// Стили
body
    height 100%
    min-height 100vh
    margin 0
    padding 0
    dflex(column, center, space-between)
    font-family 'Roboto', sans-serif;
    gap 30px

.wrapper
    width 50%

.popup
    position absolute
    dflex(column, center, center)
    top 30px
    left 0
    width 100%
    background bg
    font-weight bolder
    border-bottom 1px main2 solid
    border-top 1px main2 solid
    opacity 0
    visibility hidden
    transition 0.2s all
    z-index 2
    .popup__content
        width 50%
        height 100%
        dflex(row, center, flex-start)
        .popup__container
            width 60%
            dflex(column, center, space-around)
            gap 15px
            a
                text-decoration none
                color main2
                &:hover
                    color main
        .popup__tabs
            height 100%
            width 40%
            dflex(column, flex-start, space-around)
            border-right 1px solid main2
            border-left 1px solid main2
            .popup__tab
                width 100%
                height 60px
                dflex(row, center, center)
                transition 0.1s all
                cursor pointer
                text-decoration none
                color main2
                &:hover
                    background main
                    color #fff
.logo
    width 135px
.icon
    color main2
    width 28px
    &:hover
        color main
.header
    width 100%
    height 50px
    color main2
    font-weight bolder
    background bg
    dflex(row, center, center)
    box-sizing border-box
    z-index 4
    .header__content
        dflex(row, center, space-between)
        height 100%
        width 50%
        .logo
            width 95px
        .header__tabs
            list-style none
            padding 0
            margin 0
            dflex(row, center, center)
            height 100%
            .header__tab
                dflex(row, center, center)
                text-decoration none
                color inherit
                height 100%
                padding-left 15px
                padding-right 15px
                transition 0.1s all
                border-bottom 2px #00000000 solid
                &:hover
                    border-bottom 2px main solid
                    color main
            .active
                border-bottom 2px main solid
                color main
        .header__icons
            height 100%
            width 8%
            dflex(row, center, space-between)
        .header__search 
            width 20%
            height 50%
            dflex(row, center, center)
            input
                width 100%
                outline none
                border-radius 0px
                border 1px solid #C1C1C1
                height 100%

// ------------------------FOOTER------------------------- //
footer
    dflex(row, center, center)
    width 100%
    border-top 1px solid main
    font-size 15px
    height 356px
    color #CBCFD4
    background #212121
    .footer__container
        dflex(row, flex-start, space-between)
        height 70%
        width 50%
        bottom 0
        font-size 15px
        .footer__about
            width 30%
            a
                color #FF6A00
                padding 2px
                text-decoration none
                &:hover
                    text-decoration underline
        .footer__links
            width 70%
            dflex(row, flex-start, flex-end)
            ul
                margin 0
                list-style none
                font-size 18px
                .links__header
                    font-size 13px
                    font-weight bold
                    text-decoration none
            li
                color #fff
                padding 2px
                text-decoration none
                &:hover
                    text-decoration underline
                    cursor pointer

.news
    width 100%
    height 160px
    background main2
    dflex(row, center, center)
    color #ffffff
    .news__container
        dflex(column, center, space-around)
        width 50%
        height 100%
        h1
            font-weight bold
.email__connect
    width 100%
    height 110px
    background main2
    dflex(row, center, center)
    color #ffffff
    .email__container
        dflex(row, center, space-between)
        gap 20px    
        width 50%
        height 100%
        h1
            width 50%
        .inp__container
            width 40%
            dflex(row, center, space-between)
            gap 20px
            input
                height 30px
                width 50%
                border-radius none
                border none
                outline none
                padding 0
            input[type="submit"]
                background main
                color #ffffff
            input[type="text"]
                padding-left 10px

.product
    dflex(column, center, center)
    gap 10px
    min-height 100%
    height 100%
    h1
        text-align center
        margin 0
    .product__container
        width 100%
        height auto
        dflex(row, flex-start, center)
        gap 40px
        flex-wrap wrap
        .card
            width 243px
            height 387px
            background #FFFFFF
            box-shadow 0 0 18px 2px #00000025
            dflex(column, center, space-around)
            margin-right 10px
            margin-left 10px
            padding 10px
            .card__img
                width 65%
                .card__img__src
                    width 100%
            .card__info
                dflex(row, center, space-between)
                width 60%
                margin-top 5px
            .card__button
                width 60%
                height 44px
                dflex(row, center, space-between)
                transition 0.5s all
                .button__content
                    height 100%
                    width 70%
                    background main
                    transition 0.5s all
                    dflex(row, center, center)
                    color #ffffff
                    cursor pointer
                    text-decoration none
                .button__icon
                    dflex(row, center, center)
                    height 100%
                    width 30%
                    background main2
                    transition 0.5s all
                    cursor pointer

                    svg
                        width 22px
                        color #ffffff

.product__page
    min-height 100%
    height 100%
    dflex(row, flex-start, space-around)
    .product__page__content
        margin-top 60px
        width 50%
        height 100%
        h1
            text-align center
            margin 0
        p
            font-size 18px
        dflex(column, flex-start, space-around)
        gap 20px
        .product__page__info
            width 100%
            dflex(row, center, flex-start)
            gap 20px
    .product__page__image
        width 50%
        height 100%
        dflex(column, flex-start, flex-start)
        img
            width 100%
    .product__page__button
        font-weight bold
        width 50%
        height 50px
        background main2
        text-decoration none
        color #fff
        dflex(row, center, center)
        text-align center
        z-index 5
        &:hover
            background main
            color main2
            
