@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'

// Цвета
main = #EA581D // Оранжевый
main2 = #212121 // Тёмный
second = #FF6A00
bg = white

// Миксины
dflex(f, a, j)
    display flex
    flex-direction f
    align-items a
    justify-content j

// Стили
body
    overflow-x hidden
    height 100%
    min-height 100vh
    margin 0
    padding 0
    dflex(column, center, space-between)
    font-family 'Roboto', sans-serif;
    gap 30px

.wrapper
    width 60%

.popup
    dflex(column, center, center)
    width 100%
    font-weight bolder
    transition 0.2s all
    z-index 2
    .popup__content
        width 60%
        height 100%
        dflex(column, center, flex-start)
        .popup__container
            width 100%
            height 30px
            dflex(row, center, center)
            border-right 1px solid main2
            border-left 1px solid main2
            border-bottom 1px solid main2
            gap 25px
            a
                text-decoration none
                color main2
                &:hover
                    color main
        .popup__tabs
            height 100%
            width 100%
            dflex(row, flex-start, space-around)
            border-right 1px solid main2
            border-left 1px solid main2
            border-bottom 1px solid main2
            .popup__tab
                width 100%
                height 60px
                dflex(row, center, center)
                transition 0.1s all
                cursor pointer
                text-decoration none
                color main2
                &:hover
                    background main
                    color #fff
.logo
    width 135px
.icon
    color main2
    width 28px
    &:hover
        color main
.dragon
    position absolute
    top 400px
    z-index 9999999
    left -3000px
    transition 5s all ease-in-out
header.header
    width 100%
    height 50px
    color main2
    font-weight bolder
    background bg
    dflex(row, center, center)
    box-sizing border-box
    z-index 4
    .header__content
        dflex(row, center, space-between)
        height 100%
        width 60%
        .logo
            width 95px
        .header__tabs
            list-style none
            padding 0
            margin 0
            dflex(row, center, center)
            height 100%
            .header__tab
                dflex(row, center, center)
                text-decoration none
                color inherit
                height 100%
                padding-left 15px
                padding-right 15px
                transition 0.1s all
                border-bottom 2px #00000000 solid
                &:hover
                    border-bottom 2px main solid
                    color main
            .active
                border-bottom 2px main solid
                color main
        .header__icons
            height 100%
            width 8%
            dflex(row, center, space-between)
        .header__search 
            width 20%
            height 50%
            dflex(column, flex-start, flex-start)
            input
                width 100%
                height 100%
                min-height 100%
                outline none
                border-radius 0px
                border 1px solid #C1C1C1
                height 100%
                padding 0 0 0 10px
            output
                position relative
                background #ffffff
                border 1px solid main
                width 100%
                height auto
                dflex(column, center, center)
                display none
                a
                    text-decoration none
                    padding-top 10px
                    padding-bottom 10px
                    dflex(column, center, center)
                    color main2
                    height 100%
                    width 100%
                    &:hover
                        background main2
                        color #fff
                

// ------------------------FOOTER------------------------- //
footer
    dflex(row, center, center)
    width 100%
    border-top 1px solid main
    font-size 15px
    height 356px
    color #CBCFD4
    background #212121
    .footer__container
        dflex(row, flex-start, space-between)
        height 70%
        width 60%
        bottom 0
        font-size 15px
        .footer__about
            width 30%
            a
                color #FF6A00
                padding 2px
                text-decoration none
                &:hover
                    text-decoration underline
        .footer__links
            width 70%
            dflex(row, flex-start, flex-end)
            ul
                margin 0
                list-style none
                font-size 18px
                .links__header
                    font-size 13px
                    font-weight bold
                    text-decoration none
            li
                color #fff
                padding 2px
                a
                    text-decoration none
                    color #fff
                    &:hover
                        text-decoration underline
                        cursor pointer

.container
    dflex(column, center, space-around)
    width 100%
    height auto
.news
    width 100%
    height 160px
    background main2
    dflex(row, center, center)
    color #ffffff
    .news__container
        dflex(column, center, space-around)
        width 50%
        height 100%
        h1
            font-weight bold
.email__connect
    width 100%
    height 110px
    background main2
    dflex(row, center, center)
    color #ffffff
    .email__container
        dflex(row, center, space-between)
        gap 20px    
        width 50%
        height 100%
        h1
            width 50%
        .inp__container
            width 40%
            dflex(row, center, space-between)
            gap 20px
            input
                height 30px
                width 50%
                border-radius none
                border none
                outline none
                padding 0
            input[type="submit"]
                background main
                color #ffffff
                cursor pointer
            input[type="email"]
                padding-left 10px

.product
    dflex(column, center, center)
    gap 10px
    min-height 100%
    height 100%
    h1
        text-align center
        margin 0
    .product__container
        width 100%
        height auto
        dflex(row, flex-start, center)
        gap 40px
        flex-wrap wrap

.card
    width 203px
    height 387px
    background #FFFFFF
    box-shadow 0 0 18px 2px #00000025
    dflex(column, center, space-around)
    padding 10px
    transition 0.5s all
    &:hover .card__info
        visibility visible
        height 40px
        opacity 1
    .card__img
        width 65%
        height 150px
        .card__img__src
            height 150px
            width 100%
    .card__info
        dflex(row, center, space-around)
        width 100%
        height 10px
        margin-top 5px
        visibility hidden
        transition 0.5s all
        opacity 0
        .age__block
            dflex(row, center, center)
            width 30%
            height 100%
            gap 4px
        .people__block
            dflex(row, center, center)
            width 40%
            height 100%
            gap 4px
            img
                height 30px
        .time__block
            dflex(row, center, center)
            width 40%
            height 100%
            gap 4px
            img
                height 20px
    .card__button
        width 60%
        height 44px
        dflex(row, center, space-between)
        transition 0.5s all
        .button__content
            height 100%
            width 70%
            background main
            transition 0.5s all
            dflex(row, center, center)
            color #ffffff
            cursor pointer
            text-decoration none
        .button__icon
            dflex(row, center, center)
            height 100%
            width 30%
            background main2
            transition 0.5s all
            cursor pointer

            svg
                width 22px
                color #ffffff
.product__page
    min-height 100%
    height 100%
    dflex(row, flex-start, space-around)
    gap 50px
    .product__page__content
        margin-top 60px
        width 50%
        height 100%
        h1
            margin 0
        p
            font-size 18px
        dflex(column, flex-start, space-around)
        gap 20px
        .product__page__info
            width 100%
            dflex(row, center, flex-start)
            gap 20px
    .product__page__image
        width 40%
        height 100%
        dflex(column, flex-start, flex-start)
        img
            width 100%
    .product__page__button
        font-weight bold
        width 50%
        height 50px
        background main2
        text-decoration none
        color #fff
        dflex(row, center, center)
        text-align center
        z-index 5
        cursor pointer
        &:hover
            background main
            color #fff
            
.showmore__btn
    margin-top 20px
    height 40px
    width 200px
    background main2
    dflex(row, center, center)
    color #fff
    text-decoration none

.catalogue
    dflex(row, flex-start, center)
    min-height 100%
    height 100%
    width 100%
    gap 45px
    .catalogue__sideblocks
        dflex(column, flex-start, center)
        gap 20px
        height 100%
        width 20%
        .sideblocks__daygame
            color main2
            width 100%
            padding 20px
            height auto
            h2
                margin 0
                font-weight bold
                color main
            p
                margin 0
                word-wrap break-word
            dflex(column, center, center)
            gap 10px
            background #FFFFFF
            box-shadow 0 0 18px 2px #00000025
            .daygame__title
                color main
                font-weight bold
            .daygame__img
                width 80%
            .daygame__btn
                height 50px
                width 100%
                color #fff
                background main2
                dflex(column, center, center)
                cursor pointer
                text-decoration none
            .card__info
                dflex(row, center, space-around)
                width 100%
                height 50px
                margin-top 5px
                .age__block
                    dflex(row, center, center)
                    width 30%
                    height 100%
                    gap 4px
                .people__block
                    dflex(row, center, center)
                    width 40%
                    height 100%
                    gap 4px
                    img
                        height 40%
                .time__block
                    dflex(row, center, center)
                    width 40%
                    height 100%
                    gap 4px
                    img
                        height 30%
        .sideblocks__filters
            width 100%
            padding 20px
            height auto
            dflex(column, flex-start, center)
            gap 10px
            background #FFFFFF
            box-shadow 0 0 18px 2px #00000025
            .filters__price
                width 100%
                dflex(column, center, center)
                height auto
                .price__text 
                    width 100%
                    dflex(row, center, space-between)
                .price__range
                    width 100%
                    input
                        width 100%
            .filters__checkbox
                gap 5px
                dflex(column, flex-start, center)
            .checkbox
                width 100%
                dflex(row, center, space-between)
            .filters__submit
                width 100%
                height 35px
                input
                    font-size 16px
                    width 100%
                    height 100%
                    border none
                    outline none
                    border-radius none
                    background main
                    color #fff
    .catalogue__container
        width 75%
        height 100%
        dflex(column, center, flex-end)
        gap 40px
        .pagination
            width 300px
            height 30px
            dflex(row, center, center)
            gap 10px
            .pagination__tab
                height 30px
                width 30px
                border 1px solid main
                dflex(row, center, center)
                text-decoration none
                color main2
                &:hover
                    color main
            .active__tab
                background main
                color #fff
                &:hover
                    color #fff
        .catalogue__products
            dflex(row, flex-start, flex-end)
            gap 20px
            width 100%
            height 100%
            flex-wrap wrap

// ---------------------------------BASKET------------------------------//
.Cart-Container
    width 50%
    height 60%
    position fixed 
    background-color #ffffff
    border-radius 20px
    box-shadow 0px 0px 25px 1px  main2

.basket__container 
    z-index 9
    position fixed
    width 100%
    height 100vh
    background #00000080
    dflex(row, center, center)
    transition 0.2s all
    visibility hidden
    opacity 0

.basket__active
    visibility visible
    opacity 1
.Header_cart 
    margin auto
    width 90%
    height 15%
    dflex(row, center, space-between)
.header__btn
    cursor pointer
.Heading
    font-size 20px
    font-family 'Roboto', sans-serif;
    font-weight 700
    color #2F3841

.Action
    font-size 14px
    font-family 'Roboto', sans-serif;
    font-weight 600
    color #E44C4C
    cursor pointer
    border-bottom 1px solid #E44C4C
    

.card__main__Container 
    height 280px
    overflow auto
.Cart-Itemm
    margin auto
    width 90%
    height 50%
    min-height 50%
    dflex(row, center, space-between)
    gap 60px
    .first__container
        width 70%
        height 100%
        dflex(row, center, flex-start)
        gap 20px
        .image-box
            width 110px
            min-width 110px
            text-align center
            img
                width 100%
                min-width 100%
        .about
            height 85%
            .title
                width 100%
                padding-top 5px
                font-family 'Roboto', sans-serif;
                font-size: 22px
                font-weight: 800
                color #202020
            .subtitle
                width 100%
                font-size 18px
                font-weight 600
                color #909090
                font-family 'Roboto', sans-serif;
    .second__container
        dflex(row, center, space-between)
        width 30%
        height 100%
        .counter
            height 100%
            width 100px
            display flex
            justify-content space-between
            align-items center
            gap 5px
            .btn
                width auto
                height 35px
                display flex
                justify-content center
                align-items center
                font-size 20px
                font-family 'Roboto', sans-serif;
                font-weight 900
                color #202020
            .count
                font-size 24px
                font-family 'Roboto', sans-serif;
                font-weight 900
                color #202020
        .prices
            height 100%
            text-align right
            .amount
                padding-top 20px
                font-size 26px
                font-family 'Roboto', sans-serif;
                font-weight 800
                color #202020
            .remove
                padding-top 5px
                font-size 14px
                font-family 'Roboto', sans-serif;
                font-weight 600
                color #E44C4C
                cursor pointer

button



.inp__forms
    dflex(column, center, space-between)


hr
    
    width 66%
    float right
    margin-right 5%

.checkout
    float right
    margin-right 5%
    width 90%

.total
    width 100%
    display flex
    justify-content space-between

.Subtotal
    font-size 22px
    font-family 'Roboto', sans-serif;
    font-weight 700
    color: #202020

.itemm
    font-size 16px
    font-family 'Roboto', sans-serif;
    font-weight 500
    color #909090
    

.total-amount
    font-size 36px
    font-family 'Roboto', sans-serif;
    font-weight 900
    color #202020

.inp__forms
    button.clean
        margin-bottom 30px
        padding 10px
        font-family 'Roboto', sans-serif;
        font-weight bold
        color white
        background-color: main
        height 35px
        border none
        outline none
        width 100%
        cursor pointer
        font-weight 600
        font-size 16px
        &:hover
            color: #fff
            background main2


.inp__forms button[type="submit"]
    color white
    background-color: main
    font-family 'Roboto', sans-serif;
    font-weight bold
    padding 10px
    width 100%
    margin-top 5px
    margin-bottom 10px
    height 35px
    border none
    cursor pointer
    font-size 16px
    font-weight 600
    &:hover
        color: #fff
        background main2

// ------------------------vse------------------------- //

.showSlides-container 
    height 500px
    width 100%
    position relative


.mySlides 
    height 100%
    dflex(row, center, center)
    gap 50px
    .text
        width 30%
        height 100%
        display flex
        align-items flex-start
        justify-content center
        flex-direction column
        margin 0
        gap 20px
        h1
            margin 0
            height auto
        p
            margin 0
            height auto
        a
            color white 
            border 1px 
            background-color main
            text-decoration none
            height 50px
            width 70%
            cursor pointer
            dflex(row, center, center)
            font-size 16px
            &:hover
                background-color main2

        
    .img
        background-repeat no-repeat
        background-size cover
        height 400px
        width 400px
    
.dot 
    cursor pointer
    height 10px
    width 10px
    margin 0 2px
    background-color main2
    border-radius 50%
    display inline-block
    transition background-color 0.6s ease


.active, dot:hover  
    background-color main


.fade 
    -webkit-animation-name fade 
    -webkit-animation-duration 1.5s 
    animation-name fade 
    animation-duration 1.5s 

// @-webkit-keyframes fade 
//     from opacity  .4
//     to opacity  1
 
// @keyframes fade 
//     from opacity  .4
//     t0 opacity  1
 
