@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'

// Цвета
main = #EA581D
second = #FFF1E3
bg = white

// Миксины
dflex(f, a, j)
    display: flex
    flex-direction: f
    align-items: a
    justify-content: j

// Стили
body
    margin 0
    padding 0
    dflex(column, center, flex-start)
    font-family 'Roboto', sans-serif;

.wrapper
    width 50%


.header
    width: 100vw
    height 50px
    color main
    font-weight bolder
    border-bottom 1px main solid
    dflex(row, center, center)
    box-sizing border-box
    .header__content
        dflex(row, center, space-between)
        height 100%
        width 50%
        .logo
            width 95px
        .popup
            position absolute
            dflex(column, center, center)
            top 30px
            left 0
            width 100%
            background bg
            border 1px main solid
            opacity 0
            visibility hidden
            transition 0.3s all
            padding-right 20px
            .popup__content
                width 50%
                height 100%
                .popup__tabs
                    height 100%
                    width 40%
                    dflex(column, flex-start, space-around)
                    border-right 1px solid main
                    border-left 1px solid main
                    .popup__tab
                        width 100%
                        height 60px
                        dflex(row, center, center)
                        transition 0.1s all
                        cursor pointer
                        text-decoration none
                        color main
                        &:hover
                            background second

        .header__tabs
            list-style none
            padding 0
            margin 0
            dflex(row, center, flex-end)
            height: 100%
            width 60%
            .header__tab
                dflex(row, center, center)
                text-decoration none
                color inherit
                height 100%
                padding-left 15px
                padding-right 15px
                transition 0.1s all
                &:hover
                    background second
            .active
                background second
                box-shadow: inset 0 0px 10px 1px rgba(0,0,0,0.5);
            .icons
                height 100%
                dflex(row, flex-start, flex-start)
                margin 0 0 0 30px
                .icon
                    width 28px

